.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    cursor: pointer;
    color: #EAEAEA;
}

.Asset img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.Asset p {
    width: 200px;
    text-align: center;
}