.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    background-color: #9B4C7D;
}

.Button:hover:active {
    background-color: #9B4C7D;
    color: #EAEAEA;
}

.Button:active {
    background-color: #9B4C7D;
    color: #EAEAEA;
}

.Button:focus {
    background-color: #9B4C7D;
    color: #EAEAEA;
}

.Wide {
    padding: 10px 50px;
    width: 50%;
    justify-content: center;
}

.Bright {
    background-color: #EAEAEA;
    color: #9B4C7D;
}