.Form {
    border: none;
    border-bottom: 2px #9B4C7D solid;
    width: 90%;
}

.Button {
    border: none;
    background-color: #9B4C7D;
    color: #EAEAEA;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5% 80% 5%;
}

.Button:hover {
    cursor: pointer;
    background-color: #9B4C7D;
    color: #EAEAEA;
}

.Display {
    display: flex;
    width: 80%;
    justify-content: space-around;
}