.Post {
    background-color: #51294A;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    margin-bottom: 16px;
    margin: 10px 20px;
}

.Post figure,
h5 {
    margin: 0 0;
}

.PostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EAEAEA;
}

.PostBar {
    text-align: center;
    color: #EAEAEA;
}

.Heart {
    color: #f85032;
}

.Heart:hover {
    color: #9B4C7D;
}

.HeartOutline:hover {
    color: #f85032;
}