.App {
    font-family: 'Merriweather', sans-serif;
    background-color: #EAEAEA;
    height: auto;
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: #4d3047;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadadf;
    margin: 50px auto;
}

.FillerImage {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}


* {
    box-sizing: border-box;
}

a {
    color: #EAEAEA;
    transition: color ease-in-out 0.3s;
    text-decoration-line: none;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: #272222;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #EAEAEA;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #272222;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}